body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: #fff;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-size: bold;
}

.flag-container {
    margin: 20px 0;
}

#flag-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.options-container button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    font-size: 18px;
    background: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.options-container button:hover {
    background: #666;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightcoral;
}

#score-container {
    margin: 10px 0;
    font-size: 18px;
}

#result-message {
    margin: 10px 0;
    font-size: 18px;
}

#next-button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    background: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#next-button:hover {
    background: #666;
}
